@media screen and (min-width: 481px){
	#taskmenu .button.mail[data-badge]:after {
		margin-left: -5.2em;
		margin-top: 2em;
		position: absolute;
		font-size: .7em;
		content: attr(data-badge);
		background-color: #37beff;
		color: white;
		border-radius: 50%;
		width: 14px;
		height: 14px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis}}